<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="./index.css">
</head>
<body>
      <div class="Container">

            <div class="AuthWindow">

                  <div class="ActionType">
                        <h3>Sign in</h3>
                  </div>

                  <div class="LoginForm">

                        <input class="AuthInput" type="text" placeholder="EMAIL">
                        <input class="AuthInput" type="text" placeholder="PASSWORD">
                  </div>
                  <div class="Next">
                        <div class="ForgotPassword">
                              <button class="ForgotPasswordButton">Forgot your password?</button>
                        </div>
      
                        <div class="Contitue">
                              <button class="ContinueButton">SIGN IN</button>
                        </div>     
                  </div>
            </div>

            <div class="NotAccount">
                  <div class="Greetings">Hello friend!</div>
                  <div class="TextToSignUp"><a>IF YOU DO NOT HAVE ACCOUNT</a></div>
                  <div class="StartSignUp">            
                        <button class="StartSignUpButton">Sign Up</button>
                  </div>
            </div>

      </div>
</body>
</html>

