<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="./index.css">
</head>
<body>
      <div class="Container">

            <div class="AuthButton">
                  <button>Sign in</button> <!--Войти-->
                  <button>Sign up</button> <!--Зарегистрироваться-->
            </div>

            <div class="RegisterForm">

            </div>

            <div class="LoginForm">

            </div>

            <div class="Agreement">
                  <button>Continue</button> <!--Продолжить-->
            </div>
      </div>
</body>
</html>