<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="./index.css">
</head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<body>
      <div class="Container">

            <div class="AuthWindow">

                  <div class="AuthContainer">
                        
                        <div class="ActionType">
                              <h3>Sign in</h3>
                        </div>
      
                        <div class="LoginForm">
      
                              <input class="AuthInput" type="text" placeholder="Email">
                              <input class="AuthInput" type="password" placeholder="Password">
                        </div>
      
                        <div class="Next">
      
                              <div class="ForgotPassword">
                                    <button class="ForgotPasswordButton">Forgot your password</button>
                              </div>
            
                              <div class="Contitue">
                                    <button class="ContinueButton">SIGN IN</button>
                              </div>     
                        </div>
                  </div>
            </div>

            <div class="NotAccount">
                  <div class="NotAccountContainer">
                        <div class="Greetings">Hello friend!</div>
                        <div class="TextToSignUp"><a>Enter your details and start journey with us</a></div>
                        <div class="StartSignUp">            
                              <button class="StartSignUpButton">SIGN UP</button>
                        </div>
                  </div>

            </div>

      </div>
</body>
</html>

